<a href="[% c.uri_for( c.controller( 'RecordContext' ).action_for( 'detail' ), [ rcr.record_id] ) %]" target="[% rcr.record_id %]">[% rcr.record_id %] [% rcr.name_entry %]</a>
[% IF rcr.abstract %]<br />[% rcr.abstract %][% END %]