<a href="[% c.uri_for( c.controller( 'RecordContext' ).action_for( 'detail' ), [ rc.record_id] ) %]" target="[% rcr.record_id %]">[% rcr.record_id %] [% rcr.name_entry %]</a>
[% IF rcr.history %]<br />[% rcr.history %][% END %]