[%# ARGUMENTS:
    method: the name of the subject-headings accessor method to call
    title:  the title to display for this group of headings, if there are any
%]

[% IF object.$method %]
<h3>[% title %]</h3>
<ul>
[% FOR heading IN object.$method %]
<li>[% heading.name_and_note %]</li>
[% END %]
</ul>
[% END %]