<h3>Audio-visual media</h3>
<table>
[% IF class.notes %]
<tr>
<th>Notes</th>
<td>[% class.notes %]</td>
</tr>
[% END %]
[% IF class.rights %]
<tr>
<th>Rights</th>
<td>[% class.rights %]</td>
</tr>
[% END %]
</table>